.review {
  padding: 40px 0;
  min-height: 90vh;
  flex-direction: column;
  gap: 50px;
}

.review_container {
  justify-content: center;
  gap: 150px;
}

.review_left img {
  width: 397px;
  height: auto;
  border-radius: 15px;
}

.review_right form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.review_right h1 {
  text-align: center;
  padding: 10px 0 35px 0;
}

.review_right form input,
.review_right form textarea {
  width: 360px;
  padding: 14px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid gray;
  outline-color: #3a565d;
  font-family: inherit;
}

.submit_button {
  width: 30%;
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  font-size: 13px;
  font-family: inherit;
  background: linear-gradient(
    to right,
    var(--espresso),
    var(--espresso),
    var(--coffee)
  );
  color: #ffff;
}

.disabled {
  width: 30%;
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  font-size: 13px;
  font-family: inherit;
  background-color: var(--bg);
  color: #808080;
}

.review_stuff {
  width: 90%;
  text-align: justify;
  margin-bottom: 30px;
  font-size: 16px;
}

.disabled{
  cursor: not-allowed;
}

@media (max-width: 799px) {
  .review_container {
    flex-direction: column;
    gap: 0;
  }
  .review_left img {
    width: 80%;
    margin-bottom: 25px;
  }
  .review_stuff {
    width: 90%;
    font-size: 11px;
  }
  .review_right form input,
  .review_right form textarea {
    width: 90vw;
    padding-inline: 10px;
  }
}
