.menu_page {
  min-height: 90vh;
}

.menu_container {
  align-items: flex-start;
  margin: 60px;
  border: 1px solid #dddd;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  cursor: pointer;
  padding-bottom: 50px;
  background-color: #fefefe;
  min-height: 60vh;
}

.menu_container h1 {
  color: var(--espresso);
  text-align: center;
  padding: 10px 0 10px 0;
  margin-top: 10px;
  white-space: nowrap;
  font-size: 35px;
}

.menu {
  justify-content: space-around;
  padding-inline: 20px;
  margin-top: 40px;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #c2c1c131;
  gap: 20px;
}

.menu_categories {
  padding-bottom: 5px;
}

.list_head {
  margin: 15px 0 15px 0;
  color: #379668;
  font-size: 31px;
  border-bottom: 1px solid #379668;
  width: 50%;
  padding-bottom: 3px;
}

.menu_image {
  flex-direction: column;
}

.menu_image h2 {
  color: var(--espresso);
  text-align: center;
}

.menu_image img {
  width: 450px;
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.4));
}

.menu_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-inline: 15px;
}

.menu_list li {
  list-style: none;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  width: 360px;
  gap: 40px;
}

.menu_description {
  font-size: 12px !important;
  color: gray;
  padding-left: 5px;
}

.home_return {
  display: none;
}

.lg_bg {
  display: block;
}

.sm_bg {
  display: none;
}

@media (max-width: 799px) {
  .menu_container {
    margin: 80px 10px;
    height: max-content;
    padding: 20px 0;
  }

  .menu {
    flex-direction: column;
  }

  .menu_image img {
    width: 90%;
  }

  .lg_bg {
    display: none;
  }

  .sm_bg {
    display: block;
  }

  .menu_image h2 {
    margin-top: 25px;
  }

  .menu_list li {
    width: 85vw;
  }

  .home_return {
    display: block;
    text-align: center;
    margin-bottom: 40px;
  }

  .menu_blur1 {
    background: #efefefad;
    top: -15rem;
    width: 15rem;
    height: 45rem;
    right: 0rem;
  }
  .menu_blur2 {
    background: #efefefad;
    top: 80rem;
    width: 27rem;
    height: 15rem;
    left: -15rem;
  }
}

@media (min-width: 800px) {
  .menu_blur1 {
    background: #efefefad;
    top: 0rem;
    width: 25rem;
    height: 25rem;
    right: 0rem;
  }

  .menu_blur2 {
    background: #efefefad;
    bottom: 50px;
    width: 40rem;
    height: 5rem;
    left: -20rem;
  }
}
