.menu_page{
  min-height: 90vh;
}

.menu_container {
  align-items: flex-start;
  margin: 100px;
  border: 1px solid #dddd;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  cursor: pointer;
  padding-bottom: 50px;
  background-color: #fefefe;
}

.menu_container h1 {
  color: var(--espresso);
  text-align: center;
  padding: 10px 0 10px 0;
  margin-top: 10px;
  white-space: nowrap;
  font-size: 35px;
}

.menu {
  justify-content: space-around;
  padding-inline: 20px;
  margin-top: 20px;
  align-items: flex-start;
}

.menu_categories{
  padding-bottom: 5px;
}

.list_head {
  margin: 15px 0 15px 0;
  color: #379668;
  font-size: 31px;
  border-bottom: 1px solid #379668;
  width: 50%;
  padding-bottom: 3px;
}

.menu_list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu_list li {
  list-style: none;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 40px;
}

.home_return {
  display: none;
}

@media (max-width: 799px) {
  .menu_container {
    margin: 80px 10px;
    height: max-content;
    padding: 20px 0;
  }

  .menu {
    flex-direction: column;
  }

  .menu_list li {
    width: 85vw;
  }

  .home_return {
    display: block;
    text-align: center;
    margin-bottom: 40px;
  }

  .menu_blur1 {
    background: #efefefad;
    top: -15rem;
    width: 15rem;
    height: 45rem;
    right: 0rem;
  }
  .menu_blur2 {
    background: #efefefad;
    top: 80rem;
    width: 27rem;
    height: 15rem;
    left: -15rem;
  }
}

@media (min-width: 800px) {
  .menu_blur1 {
    background: #efefefad;
    top: 0rem;
    width: 25rem;
    height: 25rem;
    right: 0rem;
  }

  .menu_blur2 {
    background: #efefefad;
    bottom: 50px;
    width: 40rem;
    height: 5rem;
    left: -20rem;
  }
}
