.sticker_container {
  background-color: #e1e1e1aa;
  padding: 5px;
  gap: 15px;
}

.sticker_icon {
  width: 55px;
}

.blood {
  width: 30px;
}

@media (max-width: 799px) {
  .sticker_icon {
    width: 35px;
  }

  .blood {
    width: 20px;
  }
}
