.about {
  padding: 40px 0;
  flex-direction: column;
}

.about_sec {
  flex-direction: column;
  width: 60%;
  font-size: 20px;
  text-align: justify;
  padding: 20px 0 50px 0;
}

.about_sec h1 {
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 4px;
}

.about_logos {
  gap: 100px;
}

.about_logos img:nth-child(1) {
  width: 100px;
}

.about_logos img:nth-child(2) {
  width: 300px;
}



@media (max-width: 799px) {
  .about {
    padding: 10px 0;
    height: 90vh;
  }

  .about_sec {
    width: 90%;
    font-size: 15px;
    padding: 10px 0 40px 0;
  }

  .about_logos {
    gap: 20px;
    padding: 10px;
  }

  .about_logos img:nth-child(1) {
    width: 20%;
  }

  .about_logos img:nth-child(2) {
    width: 50%;
  }
  .sticker_icon {
    width: 35px;
  }

  .blood{
    width: 20px;
  }
}
