* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --textColor: #412626;
  --bg: #e7e8e8;
  --coffee: #4a2c00;
  --espresso: #362819;
  --textHover:#8c8989;
}

.GenFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blur {
  position: absolute;
  width: 2rem;
  height: 14rem;
  border-radius: 50%;
  background: #503636;
  z-index: -9;
  top: 10px;
  filter: blur(75px);
}

* {
  scrollbar-width: thin; 
  scrollbar-color: var(--espresso) transparent; 
}