* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --textColor: #412626;
  --bg: #e6f2f2;
  --coffee: #4a2c00;
  --espresso: #362819;
}

.GenFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blur {
  position: absolute;
  width: 2rem;
  height: 14rem;
  border-radius: 50%;
  background: #503636;
  z-index: -9;
  top: 10px;
  filter: blur(75px);
}

/* * {
  scrollbar-color: transparent transparent;
} */
